.full-height {
  // height: calc(100vh - 70px);
  width: 100%;
}

// @media (min-width: 768px) {
//   .full-height {
//     height: calc(100vh - 70px) !important;
//     max-height: calc(100vh - 70px) !important;
//   }
// }

ul {
  list-style-type: none;
  position: relative;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.times-button {
  position: absolute;
  right: 2%;
}

::ng-deep .mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon {
  background-color: #4b4279;
  color: #4b4279;
}

.m-20-px {
  margin: 20px;
  margin-bottom: 0;
}
