.box {
  height: 16rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.selecting-indicator,
.selecting-graph {
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.active {
    background-color: #ccc;
  }
}

.list {
  overflow: auto;
  height: calc(100% - 2.8rem);
}

.mat-radio-label-content {
  white-space: normal !important;
}
