<app-side-filter
  [selects]="selects"
  [intercept]="filterInterceptor"
  (filters)="onFilterChange($event)"
  STORAGE_KEY="filtro-analytics"
></app-side-filter>
<div *ngIf="charts.length > 0 && !isLoading" class="content-">
  <div class="row w-100 m-0 text center">
    <h2 class="my-2 text-center mx-auto" style="color: #4b4279;">{{ indicatorTitle }}</h2>
    <mat-slide-toggle
      #toggle
      class="position-absolute mr-1 mt-2"
      style="right: 1rem"
      [(ngModel)]="slideConfig.autoplay"
      (change)="slideConfig.autoplay ? slickModal.slickPlay() : slickModal.slickPause()"
    >
      Girar carrossel
    </mat-slide-toggle>
  </div>

  <ngx-slick-carousel
    class="carousel w-100"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (afterChange)="afterChange($event)"
  >
    <!-- Slides with pictures -->
    <!-- <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <div class="img-container">
        <img src="{{ slide.img }}" alt="" width="100%" />
      </div>
    </div> -->

    <!-- Slides with ng2-charts -->
    <div ngxSlickItem *ngFor="let chart of charts; let i = index" class="slide px-3 pt-2 pb-2">
      <h2>{{ chart[0].label }}</h2>
      <div style="display: block;">
        <canvas
          baseChart
          width="100"
          height="100"
          [datasets]="chart"
          [labels]="labels"
          [legend]="false"
          [colors]="chartColors"
          [chartType]="'doughnut'"
          [options]="chartOptions"
          [plugins]="doughnutChartPlugins"
        >
          <span>20%</span>
        </canvas>
      </div>
      <div class="float-left text-center">
        <h3>{{ data[i].abertoNoPrazo + data[i].abertoAtrasado | thousandSeparator }}</h3>
        <span>Aberto</span>
      </div>
      <div class="float-right text-center">
        <h3>{{ data[i].encerradoNoPrazo + data[i].encerradoAtrasado | thousandSeparator }}</h3>
        <span>Fechado</span>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<div *ngIf="selectedIndicator" class="mx-md-5 mt-2">
  <div class="row w-100 m-0 justify-content-center">
    <div
      *ngFor="let user of users[selectedIndicator.id]"
      class="row m-1 justify-content-center"
      style="height: 150px; width: 150px;"
    >
      <img
        class="img-thumbnail rounded-circle p-0"
        [src]="user.info.urlFoto || './assets/images/Portrait_Placeholder.png'"
        style="width: 100px !important; height: 100px !important;"
        onError="this.src='./assets/images/Portrait_Placeholder.png';"
      />

      <span class="text-truncate text-center" style="width: 90%; font-size: 80%">
        {{ user.info.nome }}
      </span>

      <div style="width: 90%;">
        <div class="progress" style="background-color: #ccc;">
          <div
            class="progress-bar"
            role="progressbar"
            [attr.aria-valuenow]="user.percentage"
            aria-valuemin="0"
            aria-valuemax="100"
            style="font-weight: 500;"
            [style.width]="user.percentage + '%'"
            [style.background]="'#4b4279'"
          >
            {{ user.percentage }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle
      class="path"
      cx="50"
      cy="50"
      r="20"
      fill="none"
      stroke-width="2"
      stroke-miterlimit="10"
    ></circle>
  </svg>
</div>

<div *ngIf="charts.length === 0 && !isLoading" class="row no-indicator-container text-center">
  <h1 class="w-100 my-auto">
    Nenhum indicador encontrado para o filtro selecionado
  </h1>
</div>
