.btn-filter {
  height: 65px;
  width: 65px;
  margin: 10px;
  border-radius: 100%;
  align-self: flex-end;
  background-color: #4b4279;
  color: white !important;
  transition: 200ms;
  z-index: 9;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: #d9587f;
  }
}

.side-filter {
  width: calc(100% - 85px);
  height: 100%;
  background-color: white;
  overflow: auto;
}

.btn-filter-activate {
  right: calc(250px + 15%);
}

.mat-form-field {
  margin: 0 auto;
}

button {
  margin: 3%;
  border-radius: 10px;
  padding: 5px;
}

.master {
  display: flex;
  position: fixed;
  top: 70px;
  right: -325px;
  width: 410px;
  z-index: 8;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  transition: 200ms;

  &-active {
    right: 0;
  }
}

@media (max-width: 576px) {
  .master-active {
    width: 100% !important;
  }
}
