<div class="full-screen">

  <div class="row m-0">
    <div class="col-md-6 p-0" style="background-color: rebeccapurple;">linha 1 coluna 1</div>
    <div class="col-md-6 p-0">
      <div class="row m-0" style="background-color: red;">linha 1 coluna 2 linha 1</div>
      <div class="row m-0" style="background-color: black;">linha 1 coluna 2 linha 2</div>
      <div class="row m-0" style="background-color: aliceblue;">linha 1 coluna 2 linha 3</div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-lg-8 p-0">
      <div class="row m-0">
        <div class="col-sm-6 p-0" style="background-color: blueviolet;">linha 2 coluna 1 linha 1 coluna 1</div>
        <div class="col-sm-6 p-0" style="background-color: brown;">linha 2 coluna 1 linha 1 coluna 2</div>
      </div>
      <div class="row m-0" style="background-color: aqua;">linha 2 coluna 1 linha 2</div>
    </div>
    <div class="col-lg-4 p-0" style="background-color: chartreuse;">linha 2 coluna 2</div>
  </div>

</div>
